services:
  tor:
    image: dperson/torproxy
    container_name: tor
    restart: unless-stopped
    ports:
      - "9050:9050"
      - "9051:9051"

  backend:
    build: backend
    depends_on:
      - tor
    ports:
      - "5000:5000"

  frontend:
    build: frontend
    ports:
      - "3000:80"
